apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: locust
  region: us-east-2

fargateProfiles:
  - name: fp-locust-default
    selectors:
      - namespace: default
      - namespace: locust
      - namespace: kube-system
